.rwStyle4 {
color:#404040;font-family:Calibri;font-size:11pt;font-style:italic
}
.rwStyle1 {
color:#5A5A5A;font-family:Calibri;font-size:11pt
}
.rwStyle21 {
color:#7030A0;font-family:Calibri;font-size:11pt;font-weight:bold
}
.rwStyle13 {
font-family:Arial Unicode MS;font-size:11pt;font-weight:bold
}
.rwStyle5 {
font-family:Arial,Helvetica;list-style-type:disc;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle16 {
font-family:Bahnschrift SemiBold Condensed;font-size:11pt
}
.rwStyle3 {
font-family:Calibri;font-size:10pt;font-style:italic
}
.rwStyle14 {
font-family:Calibri;font-size:11pt
}
.rwStyle20 {
font-family:Calibri;font-size:11pt;font-style:italic
}
.rwStyle25 {
font-family:Calibri;font-size:11pt;font-style:italic;font-weight:bold
}
.rwStyle6 {
font-family:Calibri;font-size:11pt;font-weight:bold
}
.rwStyle2 {
font-family:Calibri;font-size:11pt;text-decoration:underline
}
.rwStyle12 {
font-family:Microsoft Sans Serif;font-size:11pt
}
.rwStyle26 {
font-family:Symbol;font-size:11pt
}
.rwStyle24 {
font-weight:bold
}
.rwStyle18 {
line-height:1.066667;margin:0pt 0pt 6pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle23 {
line-height:1.066667;margin:0pt 0pt 8pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle22 {
line-height:1.07;margin:0pt 0pt 0pt 18pt;text-align:left;text-indent:-18pt
}
.rwStyle9 {
line-height:1.07;margin:0pt 0pt 6pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle11 {
line-height:1.07;margin:0pt 0pt 8pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle15 {
line-height:1.07;margin:0pt 0pt 8pt 18pt;text-align:left;text-indent:-18pt
}
.rwStyle7 {
line-height:1.07;margin:22pt 43pt 8pt 43pt;text-align:center;text-indent:0pt
}
.rwStyle17 {
margin-top:0;margin-bottom:0;
}
.rwStyle8 {
margin:0pt 0pt 0pt 0pt;text-align:center;text-indent:0pt
}
.rwStyle19 {
margin:0pt 0pt 6pt 0pt;text-align:center;text-indent:0pt
}
.rwStyle10 {
text-decoration:none
}
