.rwStyle3 {
background-color:#FFFFFF;color:#1C1E21;font-family:Arial,Helvetica
}
.rwStyle5 {
font-family:Arial,Helvetica;list-style-type:disc;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle2 {
font-weight:bold
}
.rwStyle4 {
line-height:1.07;margin:0pt 0pt 6pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle1 {
margin-top:0;margin-bottom:0;
}
.rwStyle6 {
text-decoration:none
}
