.rwStyle1 {
font-family:Arial,Helvetica;list-style-type:disc;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle2 {
font-family:Calibri;font-size:11pt
}
.rwStyle7 {
font-weight:bold
}
.rwStyle5 {
line-height:1.07;margin:0pt 0pt 6pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle3 {
line-height:1.07;margin:0pt 0pt 8pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle4 {
margin-top:0;margin-bottom:0;
}
.rwStyle6 {
text-decoration:none
}
