.rwStyle34 {
color:#0070C0;font-family:Calibri;font-size:11pt
}
.rwStyle6 {
color:#0070C0;font-family:Calibri;font-size:11pt;font-style:italic
}
.rwStyle53 {
color:#222222;font-family:Calibri;font-size:11pt
}
.rwStyle42 {
color:#222222;font-family:Calibri;font-size:11pt;font-weight:bold
}
.rwStyle32 {
color:#404040;font-family:Calibri;font-size:11pt;font-style:italic
}
.rwStyle43 {
color:#4471C4;font-family:Calibri;font-size:11pt
}
.rwStyle54 {
color:#4472C4;font-family:Calibri;font-size:11pt
}
.rwStyle18 {
color:#5A5A5A;font-family:Calibri;font-size:11pt
}
.rwStyle61 {
color:#7030A0;font-family:Calibri;font-size:11pt;font-weight:bold
}
.rwStyle58 {
color:#70AD47;font-family:Calibri;font-size:11pt;font-style:italic
}
.rwStyle23 {
font-family:'Courier New',Courier;font-size:11pt
}
.rwStyle8 {
font-family:'Courier New',Courier;font-size:11pt;line-height:1.079167;list-style-type:circle;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle60 {
font-family:Arial Unicode MS;font-size:11pt;font-weight:bold
}
.rwStyle36 {
font-family:Arial,Helvetica;font-size:11pt;line-height:1.079167;list-style-type:disc;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle20 {
font-family:Arial,Helvetica;list-style-type:decimal;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle15 {
font-family:Arial,Helvetica;list-style-type:disc;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle24 {
font-family:Bahnschrift SemiBold Condensed;font-size:11pt
}
.rwStyle1 {
font-family:Calibri;font-size:10pt;font-style:italic
}
.rwStyle51 {
font-family:Calibri;font-size:11pt
}
.rwStyle39 {
font-family:Calibri;font-size:11pt;font-style:italic
}
.rwStyle48 {
font-family:Calibri;font-size:11pt;font-style:italic;font-weight:bold
}
.rwStyle13 {
font-family:Calibri;font-size:11pt;font-weight:bold
}
.rwStyle19 {
font-family:Calibri;font-size:11pt;text-decoration:none
}
.rwStyle17 {
font-family:Calibri;font-size:11pt;text-decoration:underline
}
.rwStyle16 {
font-family:Calibri;font-size:12pt
}
.rwStyle55 {
font-family:Calibri;font-size:13pt
}
.rwStyle56 {
font-family:Calibri;font-size:14pt
}
.rwStyle30 {
font-family:Calibri;font-size:14pt;font-weight:bold
}
.rwStyle5 {
font-family:Microsoft Sans Serif;font-size:11pt
}
.rwStyle14 {
font-family:Microsoft Sans Serif;font-size:14pt
}
.rwStyle45 {
font-family:Symbol;font-size:11pt
}
.rwStyle37 {
font-family:Wingdings;font-size:11pt
}
.rwStyle41 {
font-size:10pt;font-weight:bold
}
.rwStyle3 {
font-size:12pt;font-weight:bold
}
.rwStyle52 {
font-size:16pt
}
.rwStyle12 {
font-size:16pt;font-weight:bold
}
.rwStyle4 {
font-size:16pt;font-weight:bold;text-decoration:underline
}
.rwStyle47 {
font-size:18pt;font-weight:bold
}
.rwStyle46 {
font-style:italic
}
.rwStyle62 {
font-style:italic;font-weight:bold
}
.rwStyle11 {
font-weight:bold
}
.rwStyle29 {
font-weight:bold;text-decoration:underline
}
.rwStyle31 {
line-height:1.066667;margin:0pt 0pt 6pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle44 {
line-height:1.066667;margin:0pt 0pt 8pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle35 {
line-height:1.07;margin:0pt 0pt 0pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle26 {
line-height:1.07;margin:0pt 0pt 0pt 18pt;text-align:left;text-indent:-18pt
}
.rwStyle25 {
line-height:1.07;margin:0pt 0pt 6pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle33 {
line-height:1.07;margin:0pt 0pt 8pt 0pt;text-align:justify;text-indent:0pt
}
.rwStyle49 {
line-height:1.07;margin:0pt 0pt 8pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle27 {
line-height:1.07;margin:0pt 0pt 8pt 0pt;text-align:left;text-indent:36pt
}
.rwStyle9 {
line-height:1.07;margin:0pt 0pt 8pt 18pt;text-align:left;text-indent:-18pt
}
.rwStyle10 {
line-height:1.07;margin:0pt 0pt 8pt 36pt;text-align:left;text-indent:0pt
}
.rwStyle28 {
line-height:1.07;margin:22pt 43pt 8pt 43pt;text-align:center;text-indent:0pt
}
.rwStyle21 {
list-style-type:decimal;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle40 {
margin-top:0;margin-bottom:0;
}
.rwStyle2 {
margin:0pt 0pt 0pt 0pt;text-align:center;text-indent:0pt
}
.rwStyle57 {
margin:0pt 0pt 0pt 108pt;text-align:left;text-indent:-18pt
}
.rwStyle22 {
margin:0pt 0pt 0pt 36pt;text-align:left;text-indent:-18pt
}
.rwStyle7 {
margin:0pt 0pt 0pt 72pt;text-align:left;text-indent:-18pt
}
.rwStyle50 {
margin:0pt 0pt 6pt 0pt;text-align:center;text-indent:0pt
}
.rwStyle59 {
margin:0pt 0pt 6pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle38 {
text-decoration:none
}
