.rwStyle17 {
font-family:'Courier New',Courier;font-size:11pt;line-height:1.079167;list-style-type:circle;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle1 {
font-family:'Times New Roman',Times;font-size:12pt
}
.rwStyle6 {
font-family:Arial,Helvetica;font-size:11pt;line-height:1.079167;list-style-type:disc;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle15 {
font-family:Arial,Helvetica;list-style-type:circle;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle7 {
font-family:Arial,Helvetica;list-style-type:disc;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle13 {
font-family:Calibri;font-size:10pt;font-style:italic
}
.rwStyle16 {
font-family:Calibri;font-size:10pt;font-style:italic;font-weight:bold
}
.rwStyle18 {
font-family:Calibri;font-size:11pt
}
.rwStyle3 {
font-family:Calibri;font-size:12pt
}
.rwStyle4 {
font-family:Calibri;font-size:12pt;font-style:italic;font-weight:bold
}
.rwStyle2 {
font-family:Calibri;font-size:12pt;font-weight:bold
}
.rwStyle8 {
font-size:10pt;font-weight:bold
}
.rwStyle11 {
font-style:italic
}
.rwStyle5 {
font-style:italic;font-weight:bold
}
.rwStyle14 {
font-weight:bold
}
.rwStyle19 {
line-height:1.07;margin:0pt 0pt 0pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle20 {
line-height:1.07;margin:0pt 0pt 6pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle9 {
line-height:1.07;margin:0pt 0pt 6pt 0pt;text-align:left;text-indent:36pt
}
.rwStyle10 {
line-height:1.07;margin:0pt 0pt 8pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle12 {
line-height:1.38;margin:0pt 0pt 0pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle21 {
margin-top:0;margin-bottom:0;
}
