.rwStyle12 {
font-family:'Courier New',Courier
}
.rwStyle21 {
font-family:'Courier New',Courier;font-size:11pt
}
.rwStyle11 {
font-family:'Courier New',Courier;font-size:11pt;line-height:1.079167;list-style-type:circle;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle23 {
font-family:'Courier New',Courier;list-style-type:circle;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle6 {
font-family:'Times New Roman',Times;font-size:12pt
}
.rwStyle31 {
font-family:Arial,Helvetica
}
.rwStyle22 {
font-family:Arial,Helvetica;font-size:10pt;font-style:italic
}
.rwStyle8 {
font-family:Arial,Helvetica;font-size:10pt;font-style:italic;font-weight:bold
}
.rwStyle29 {
font-family:Arial,Helvetica;font-size:11pt;line-height:1.079167;list-style-type:disc;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle17 {
font-family:Arial,Helvetica;list-style-type:disc;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle13 {
font-family:Calibri;font-size:10pt;font-style:italic
}
.rwStyle5 {
font-family:Calibri;font-size:10pt;font-style:italic;font-weight:bold
}
.rwStyle36 {
font-family:Calibri;font-size:11pt
}
.rwStyle28 {
font-family:Calibri;font-size:11pt;font-weight:bold
}
.rwStyle30 {
font-family:Calibri;font-size:12pt
}
.rwStyle27 {
font-family:Calibri;font-size:12pt;font-style:italic;font-weight:bold
}
.rwStyle37 {
font-family:Calibri;font-size:12pt;font-weight:bold
}
.rwStyle24 {
font-family:Microsoft Sans Serif;font-size:11pt
}
.rwStyle14 {
font-family:Symbol;font-size:11pt
}
.rwStyle15 {
font-family:Wingdings;font-size:11pt
}
.rwStyle20 {
font-size:10pt;font-weight:bold
}
.rwStyle19 {
font-style:italic
}
.rwStyle33 {
font-style:italic;font-weight:bold
}
.rwStyle35 {
font-style:italic;text-decoration:underline
}
.rwStyle2 {
font-weight:bold
}
.rwStyle26 {
line-height:1.066667;margin:0pt 0pt 0pt 18pt;text-align:left;text-indent:-18pt
}
.rwStyle1 {
line-height:1.07;margin:0pt 0pt 0pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle25 {
line-height:1.07;margin:0pt 0pt 0pt 108pt;text-align:left;text-indent:-18pt
}
.rwStyle7 {
line-height:1.07;margin:0pt 0pt 0pt 18pt;text-align:left;text-indent:-18pt
}
.rwStyle9 {
line-height:1.07;margin:0pt 0pt 0pt 36pt;text-align:left;text-indent:-18pt
}
.rwStyle32 {
line-height:1.07;margin:0pt 0pt 0pt 72pt;text-align:left;text-indent:-18pt
}
.rwStyle18 {
line-height:1.07;margin:0pt 0pt 6pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle16 {
line-height:1.07;margin:0pt 0pt 6pt 0pt;text-align:left;text-indent:36pt
}
.rwStyle3 {
line-height:1.07;margin:0pt 0pt 8pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle34 {
line-height:1.38;margin:0pt 0pt 0pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle10 {
margin-top:0;margin-bottom:0;
}
.rwStyle4 {
margin:0pt 0pt 0pt 0pt;text-align:center;text-indent:0pt
}
