.rwStyle17 {
background-color:#FFFF00
}
.rwStyle66 {
background-color:#FFFF00;font-family:Calibri;font-size:11pt
}
.rwStyle22 {
background-color:#FFFFFF;color:#1155CC;font-family:Arial,Helvetica;font-size:9.5pt
}
.rwStyle38 {
background-color:#FFFFFF;color:#222222;font-family:'Courier New',Courier;font-size:9.5pt
}
.rwStyle68 {
background-color:#FFFFFF;color:#222222;font-family:'Times New Roman',Times;font-size:7pt
}
.rwStyle42 {
background-color:#FFFFFF;color:#222222;font-family:Arial,Helvetica;font-size:9.5pt
}
.rwStyle37 {
background-color:#FFFFFF;color:#222222;font-family:Arial,Helvetica;font-size:9.5pt;font-weight:bold
}
.rwStyle16 {
background-color:#FFFFFF;color:#222222;font-family:Symbol;font-size:9.5pt
}
.rwStyle58 {
background-color:#FFFFFF;color:#666666;font-family:Trebuchet MS;font-size:10pt
}
.rwStyle70 {
background-color:#FFFFFF;font-family:Trebuchet MS;font-size:10pt
}
.rwStyle20 {
border-bottom:none;border-left:none;border-right:none;border-top:none;padding:0.75pt 0.75pt 0.75pt 0.75pt
}
.rwStyle79 {
color:#000000
}
.rwStyle43 {
color:#000000;text-decoration:none
}
.rwStyle41 {
color:#0000FF
}
.rwStyle12 {
color:#0000FF;font-family:Arial,Helvetica;font-size:10pt
}
.rwStyle2 {
color:#0000FF;font-family:Arial,Helvetica;text-decoration:underline
}
.rwStyle36 {
color:#0000FF;text-decoration:underline
}
.rwStyle18 {
color:#0070C0
}
.rwStyle64 {
color:#0070C0;font-family:Calibri;font-size:10pt
}
.rwStyle23 {
color:#0070C0;font-family:Calibri;font-size:11pt
}
.rwStyle95 {
color:#0070C0;font-style:italic
}
.rwStyle57 {
color:#00B050
}
.rwStyle48 {
color:#00B050;font-family:Calibri;font-size:10pt
}
.rwStyle62 {
color:#00B050;font-family:Calibri;font-size:11pt
}
.rwStyle40 {
color:#222222;font-family:Arial,Helvetica;font-size:10pt
}
.rwStyle26 {
color:#222222;font-family:Arial,Helvetica;font-size:9.5pt
}
.rwStyle56 {
color:#222222;font-family:Calibri;font-size:11pt
}
.rwStyle94 {
color:#274E13;font-family:Arial,Helvetica;font-size:10pt
}
.rwStyle1 {
color:#375623;font-family:Arial,Helvetica;font-size:10pt
}
.rwStyle75 {
color:#375623;font-family:Arial,Helvetica;font-size:10pt;text-decoration:line-through
}
.rwStyle9 {
color:#375623;font-family:Calibri;font-size:11pt
}
.rwStyle35 {
color:#37ABA5;font-family:Arial,Helvetica;font-size:9.5pt
}
.rwStyle77 {
color:#37ABA5;font-family:Arial,Helvetica;font-size:9.5pt;font-style:italic
}
.rwStyle6 {
color:#37ABA5;font-family:Calibri;font-size:11pt
}
.rwStyle84 {
color:#37ABA5;font-family:Calibri;font-size:11pt;font-style:italic
}
.rwStyle11 {
color:#4F6128
}
.rwStyle69 {
color:#4F81BD
}
.rwStyle39 {
color:#666666;font-family:Trebuchet MS;font-size:10pt
}
.rwStyle59 {
color:#7030A0
}
.rwStyle61 {
color:#7030A0;font-style:italic
}
.rwStyle90 {
color:#7F7F7F;font-family:Arial,Helvetica;font-size:10pt
}
.rwStyle21 {
color:#843C0C;font-family:Arial,Helvetica;font-size:9.5pt
}
.rwStyle54 {
color:#C55A11;font-family:Calibri;font-size:11pt
}
.rwStyle19 {
color:#FF0000;font-family:Arial,Helvetica;font-size:10pt
}
.rwStyle73 {
color:#FF0000;font-family:Calibri;font-size:10pt
}
.rwStyle93 {
color:#FF0000;font-family:Calibri;font-size:11pt
}
.rwStyle29 {
font-family:'Courier New',Courier
}
.rwStyle82 {
font-family:'Courier New',Courier;font-size:11pt
}
.rwStyle87 {
font-family:'Courier New',Courier;font-size:11pt;list-style-type:circle;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle53 {
font-family:'Courier New',Courier;list-style-type:circle;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle49 {
font-family:Arial,Helvetica
}
.rwStyle15 {
font-family:Arial,Helvetica;font-size:10pt
}
.rwStyle7 {
font-family:Arial,Helvetica;font-size:10pt;font-weight:bold
}
.rwStyle32 {
font-family:Arial,Helvetica;font-size:11pt
}
.rwStyle65 {
font-family:Arial,Helvetica;font-size:11pt;list-style-type:disc;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle51 {
font-family:Arial,Helvetica;font-size:9.5pt
}
.rwStyle8 {
font-family:Arial,Helvetica;font-weight:bold
}
.rwStyle60 {
font-family:Arial,Helvetica;list-style-type:circle;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle5 {
font-family:Arial,Helvetica;list-style-type:disc;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle74 {
font-family:Arial,Helvetica;text-decoration:line-through underline
}
.rwStyle80 {
font-family:Calibri
}
.rwStyle27 {
font-family:Calibri;font-size:10pt
}
.rwStyle92 {
font-family:Calibri;font-size:10pt;font-style:italic
}
.rwStyle55 {
font-family:Calibri;font-size:11pt
}
.rwStyle3 {
font-family:Calibri;font-size:11pt;font-style:italic
}
.rwStyle71 {
font-family:Calibri;font-size:11pt;font-style:italic;font-weight:bold
}
.rwStyle89 {
font-family:Calibri;font-size:11pt;font-weight:bold
}
.rwStyle50 {
font-family:Calibri;font-size:11pt;list-style-type:decimal;margin:0pt 0pt 0pt 0pt;text-align:left
}
.rwStyle72 {
font-family:Calibri;font-size:12pt;font-style:italic;font-weight:bold
}
.rwStyle67 {
font-family:Calibri;font-size:12pt;font-weight:bold
}
.rwStyle10 {
font-family:Calibri;font-size:14pt;font-weight:bold
}
.rwStyle91 {
font-family:Calibri;font-size:24pt;font-weight:bold
}
.rwStyle25 {
font-family:Calibri;font-size:7pt
}
.rwStyle96 {
font-family:Calibri;font-size:8pt
}
.rwStyle14 {
font-family:Microsoft JhengHei
}
.rwStyle31 {
font-family:Microsoft Sans Serif;font-size:10.5pt
}
.rwStyle4 {
font-family:Wingdings;font-size:11pt
}
.rwStyle83 {
font-size:10pt;font-weight:bold
}
.rwStyle33 {
font-style:italic
}
.rwStyle28 {
font-style:italic;font-weight:bold
}
.rwStyle85 {
font-weight:bold
}
.rwStyle52 {
margin-top:0;margin-bottom:0;
}
.rwStyle24 {
margin:0pt 0pt 0pt 0pt;text-align:left;text-indent:35pt
}
.rwStyle81 {
margin:0pt 0pt 0pt 0pt;text-align:left;text-indent:36pt
}
.rwStyle47 {
margin:0pt 0pt 0pt 18pt;text-align:left;text-indent:0pt
}
.rwStyle86 {
margin:0pt 0pt 0pt 27pt;text-align:left;text-indent:0pt
}
.rwStyle63 {
margin:0pt 0pt 0pt 36pt;text-align:left;text-indent:-18pt
}
.rwStyle44 {
margin:0pt 0pt 0pt 36pt;text-align:left;text-indent:0pt
}
.rwStyle34 {
margin:0pt 0pt 0pt 63pt;text-align:left;text-indent:-18pt
}
.rwStyle45 {
margin:0pt 0pt 12pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle97 {
margin:0pt 0pt 8pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle13 {
margin:12pt 0pt 12pt 0pt;text-align:left;text-indent:0pt
}
.rwStyle76 {
margin:12pt 0pt 12pt 72pt;text-align:left;text-indent:0pt
}
.rwStyle30 {
text-decoration:line-through
}
.rwStyle78 {
text-decoration:line-through underline
}
.rwStyle88 {
text-decoration:none
}
.rwStyle46 {
text-decoration:underline
}
